@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-SemiBold.woff") format("woff");
  src: url("../fonts/roboto/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --container-width: 1270px;
  --container-padding: 15px;
}

body {
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.title {
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 60px;
}

.col-left {
  flex-basis: 60%;
  flex-grow: 1;
}

.col-right {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex-basis: 30%;
  min-width: 400px;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.summary-item__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #888888;
}

.summary-item__value {
  font-size: 18px;
  font-weight: 600;
}

.summary-item__value--bigger {
  font-size: 24px;
  font-weight: 700;
}

.summary-item__value--percents {
  color: rgb(120, 159, 187);
}

.programms-wraper {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-hidden {
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.radio-label {
  padding: 0.5em 1em;
  display: inline-block;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
}

.radio-hidden:checked + .radio-label {
  border-color: transparent;
  background-color: rgb(120, 159, 187);
  color: #ffffff;
}

.params-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.param__details {
  padding: 0.5em 1em;
  border: 1px solid #d3d4d4;
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
}

.param__details--error {
  border-color: rgb(255, 0, 0);
}

.param__title {
  margin-bottom: 3px;
  font-size: 14px;
  color: #888888;
}

.param__value {
  display: block;
  width: 100%;
  font-size: 18px;
}

.param__range-slider {
  margin-top: -3px;
  height: 8px;
  border-radius: 0px 0px 6px 6px;
  background-color: rgb(120, 159, 187);
}

.param__limits {
  padding-top: 8px;
}

.limit {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.limit__from {
  font-size: 14px;
  color: #888888;
}

.limit__to {
  font-size: 14px;
  color: #888888;
}

.limit__50 {
  padding-left: 5px;
  position: absolute;
  left: 50%;
  top: 10px;
  border-left: 1px solid #c2c2c2;
  font-size: 14px;
  color: #888888;
}

.order-form-wrapper {
  display: flex;
  flex-direction: column;
}

.order-btn {
	padding: 1em 1em;
  display: inline-block;
  border: 1px solid #d3d4d4;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: #000000;
	transition: background-color 0.15s ease-in, color 0.15s ease-in;
}

.order-btn:hover,
.order-btn:focus {
  background-color: rgb(120, 159, 187);
  color: #ffffff;
}

.order-btn:active {
	position: relative;
  top: 1px;
  background-color: #444444;
}

.order-btn--black {
  background-color: #212121;
  color: #ffffff;
}

.order-btn--black:hover,
.order-btn--black:focus {
  background-color: #000000;
  color: #ffffff;
}

.order-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.order-input {
  padding: 1em 1em;
  border: 1px solid #d3d4d4;
  border-radius: 6px;
}

.order-btn[disabled] {
	cursor: not-allowed;
  border-color: #c2c2c2;
  background-color: #c2c2c2;
  color: #ffffff;
}

.order-input[disabled] {
	cursor: not-allowed;
  color: #777777;
}

.alert {
  padding: 20px;
	display: flex;
  align-items: center;
	column-gap: 20px;
  border-radius: 12px;
  font-size: 18px;
	background-color: #c2c2c2;
}

.alert--success {
	font-weight: 600;
  background-color: rgba(142, 241, 201, 0.606);
}

.alert--danger {
  background-color: rgba(222, 142, 153, 0.446);
}

.alert__icon {
  font-size: 28px;
}
